<div>
  <button type="button" class="btn btn-primary" (click)="openModal(template)">
    Add Tenant Admin
  </button>

  <div class="row" style="margin-top: 20px;">
    <div class="card" style="width: 18rem; margin-left: 10px; margin-right: 10px;" *ngFor="let _admin of admins">
      <div class="card-body">
        <h5 class="card-title">{{_admin.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{_admin.tenant}}</h6>
        <p class="card-text">Username: {{_admin.username}}</p>
        <p class="card-text">Role: {{_admin.role}}</p>
        <p class="card-text">Added: {{_admin.createdAt | date: 'medium'}}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Tenant Admin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="hasModalError">
      {{modalErrorMessage}}
    </div>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Jane Doe" [(ngModel)]="admin.name">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" [(ngModel)]="admin.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="admin.password">
      </div>
      <div class="form-group">
        <label for="tenant">Tenant Name</label>
        <input type="email" class="form-control" id="tenant" name="tenant" placeholder="Tenant Name" [(ngModel)]="admin.tenantName">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="isCreatingAdmin" (click)="createAdmin()">Add Admin</button>
    </form>
  </div>
</ng-template>
