<div>
  <button type="button" class="btn btn-primary" (click)="openModal(template)">
    Add User
  </button>

  <div class="row" style="margin-top: 20px;">
    <div class="card" style="width: 18rem; margin-left: 10px; margin-right: 10px;" *ngFor="let _user of users">
      <div class="card-body">
        <h5 class="card-title">{{_user.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{_user.username}}</h6>
        <p class="card-text">Role: {{_user.role}}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="hasModalError">
      {{modalErrorMessage}}
    </div>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Jane Doe" [(ngModel)]="user.name">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" [(ngModel)]="user.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="user.password">
        <small id="passwordHelp" class="form-text text-muted">If a password is not provided, the default would be used.</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="isCreatingUser" (click)="createUser()">Add Admin</button>
    </form>
  </div>
</ng-template>
