<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Contacts Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isSuper">
        <a class="nav-link" routerLink="/tenants" routerLinkActive="active"  href="#">Tenants</a>
      </li>
      <li class="nav-item" *ngIf="!isSuper">
        <a class="nav-link" routerLink="/contacts" routerLinkActive="active"  href="#">Contacts</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link"  routerLink="/users" routerLinkActive="active"  href="#">Users</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <label style="color: #f7f7f7; margin-right: 10px;">{{currentUser}}</label>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
