<div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="openModal(template)"> Add Contact</button>
    </div>

    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Search contacts" aria-label="Search contacts"
                                 aria-describedby="button-addon2" (keyup)="search($event)">
    </div>

  </div>

  <div class="row  space-cards">
    <div class="card card-margins" *ngFor="let _contact of contacts">
      <div class="card-body">
        <h5 class="card-title">{{_contact.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{_contact.phone}}</h6>
        <p class="card-text">Email: {{_contact.email}}</p>
        <p class="card-text">Age Range: {{_contact.ageRange}}</p>
        <p class="card-text">Address: {{_contact.address}}</p>
        <p class="card-text">Landmark: {{_contact.landmark}}</p>
        <p class="card-text">State: {{_contact.state}}</p>
        <p class="card-text">Country: {{_contact.country}}</p>
        <p class="card-text">How they found us: {{_contact.howTheyFoundUs}}</p>

        <div *ngIf="!isUser">
          <button class="btn btn-success" style="margin-right: 10px;" (click)="openModal(smsTemplate, _contact._id)">
            Send SMS
          </button>
          <button class="btn btn-warning" (click)="openModal(emailTemplate, _contact._id)">Send Email</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new contact</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="hasModalError">
      {{modalErrorMessage}}
    </div>

    <form>
      <div class="form-group">
        <label for="email">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
               placeholder="Jane Doe" [(ngModel)]="contact.name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="jane@doe.org"
               [(ngModel)]="contact.email">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="080111111111"
               [(ngModel)]="contact.phone">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Address"
               [(ngModel)]="contact.address">
      </div>
      <div class="form-group">
        <label for="ageRange">Age Range</label>
        <input type="text" class="form-control" id="ageRange" name="ageRange" placeholder="18-24"
               [(ngModel)]="contact.ageRange">
      </div>
      <div class="form-group">
        <label for="landMark">Landmark</label>
        <input type="text" class="form-control" id="landMark" name="landMark" placeholder="Closest landmark"
               [(ngModel)]="contact.landmark">
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" placeholder="Lagos" [(ngModel)]="contact.state">
      </div>
      <div class="form-group">
        <label for="email">Country</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Nigeria"
               [(ngModel)]="contact.country">
      </div>
      <div class="form-group">
        <label for="howTheyFoundUs">How did you find out about us</label>
        <input type="text" class="form-control" id="howTheyFoundUs" name="howTheyFoundUs" placeholder="Facebook"
               [(ngModel)]="contact.howTheyFoundUs">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="isAddingContact" (click)="addContact()">Submit</button>
    </form>
  </div>
</ng-template>

<ng-template #smsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Send SMS</h4>
    <button type="button" class="close pull-right" aria-label="Close"
            (click)="modalRef.hide(); hasModalSuccess = false;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert" *ngIf="hasModalSuccess">
      {{modalSuccessMessage}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="hasModalError">
      {{modalErrorMessage}}
    </div>

    <form>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="email" class="form-control" id="message" name="message" placeholder="What you want to say..."
                  [(ngModel)]="sms.message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="isSendingSms" (click)="sendSms()">Send</button>
    </form>
  </div>
</ng-template>

<ng-template #emailTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Send Email</h4>
    <button type="button" class="close pull-right" aria-label="Close"
            (click)="modalRef.hide(); hasModalSuccess = false;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert" *ngIf="hasModalSuccess">
      {{modalSuccessMessage}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="hasModalError">
      {{modalErrorMessage}}
    </div>

    <form>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Title"
               [(ngModel)]="email.title">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="email" class="form-control" id="message" name="message" placeholder="What you want to say..."
                  [(ngModel)]="email.message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="isSendingEmails" (click)="sendEmail()">Send</button>
    </form>
  </div>
</ng-template>
