<div class="container">
  <div *ngFor="let alert of alerts" style="margin-top: 30px;">
    <alert [type]="alert.type" [dismissible]="true">{{ alert.msg }}</alert>
  </div>
</div>

<form class="form-signin">
  <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="email" id="inputEmail" class="form-control" name="username" placeholder="username" [(ngModel)]="user.username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
